@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Light.otf") format("opentype");
}

@font-face {
  font-family: 'DosisB';
  src: url("../fonts/Dosis-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamLight.ttf") format("truetype");
}