a{
  text-decoration: none;
}
*{
scroll-behavior: smooth;
}

@media (max-width: 700px) {
  img{
    width: 100%;
  }

  .button img{
    height: 2em;
    width: 2em;
  }
  .button{
    height: 5em;
    width: 5em;
  }

  .close{
    height: .5em;
    width: .5em;
  }

  #navbar{
    background-color: #02a79d;
    color: white;
  }

  #navbar div img{
    display: none;
  }

  #tagline{
    color: white;
    background: #02a79d;
  }

  #tagline img{
  }

  #tagline img{
    margin-left: 2em;
  }

  #banner{
    margin-top: 3em;
  }

  #slider img{
    width: 100%;
  }

  #para p{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  #list li{
    margin-top: 5em !important;
    list-style-type: none;
  }

  .footer{
    margin-left: 0;
  }

  .footer img{
    margin-top: 0.2em;
  }

}


@media (min-width: 700px) {

body{
  background: white;
}

.container{
  width: 90%;
  padding-left: 10%;
}

.row, #box{
  padding: 0 !important;
  margin: 0 !important;
}

.button{
  display: none;
}

  #navbar{
    height: 4em;
    text-align: center;
    display: block;
    border: none;
    z-index: 2;
  }

  #tagline{
    display: none;
  }

  .background{
    background: rgba(255, 255, 255, 1);
  }

  #navbar h5{
    padding-top: 1em;
    color: black;
  }

  #navbar img{
    padding-top: .7em;
    width: 80%;
    padding-bottom: 0 !important;
    margin-bottom: -2em; !important;
  }

  #navbar>*{
    margin-top: 1em;
    margin-bottom: 2em;
  }

  #banner{
    margin-top: 1em !important;
  }

  #banner>*{
    margin: 0;
    padding: 0;
  }

  .logo{
    margin-top: 7em;
  }

  #slider img{
    width: 100%;
    height: 10em;
  }

  #types{
    background: white;
  }

  #types h3{
    background: #02a79d;
    z-index: 5;
    color: white;
    font-size: 5em;
  }

  #types #marker{
      margin-left: 23.5% !important;
  }

  #box{
    height: 10em;
    margin-top: 5% !important;
    border: 1px solid black;
  }

  #box img{
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    margin-top: 20% !important;
  }


  #box h4{
    margin-bottom: 5% !important;
  }

  #second{
    margin-left: 8% !important;
  }

  #info{
    background-color: #02a79d;
    color: white;
    padding-top: 5em;
    padding-bottom: 5em;
    height: 10em;
  }

  #info h2{
    margin-top: -1.5em;
  }

 #about{
   background-color: white;
   height: 15em;
 }

 #about h2{
   margin-top: 2.5em !important;
 }

 #about{
   border-right: .05px solid rgba(0, 0, 0, 0.5);
 }

 .image{
   background-image: url(../img/contact.jpg);
   background-position: center;
   background-size: cover;
 }

 #para{
   height: 15em;
 }

 #para h3{
   margin-top: 1.5em !important;
 }

 #para a{
   text-decoration: underline;
 }

 #text{
   margin-top: 3em;
   background: rgba(255, 255, 255, 0);
 }

 #text p{
   font-size: 14px;
 }

#text h3{
  padding-bottom: 2em;
}

#filler{
  background-color: #02a79d;
  margin-top: 15% !important;
}

#filler img{
  width: 25%;
  margin-left: 15% !important;
}

.footer{
  height: 4em;
  width: 100%;
}

.footer p{
  padding-top: 1.8em !important;
}

.footer img{
  width: 40%;
  margin-top: 1em !important;
  margin-left: 30% !important;
}

}
