a{
  text-decoration: none;
}
*{
scroll-behavior: smooth;
}

@media (max-width: 700px) {
  img{
    width: 100%;
  }

  .button img{
    height: 2em;
    width: 2em;
  }
  .button{
    height: 5em;
    width: 5em;
  }

  .close{
    height: .5em;
    width: .5em;
  }

  #navbar{
    background-color: #174038;
    color: white;
  }

  #navbar div img{
    display: none;
  }

  #tagline{
    color: white;
    background: #174038;
  }

  #tagline img{
  }

  #tagline img{
    margin-left: 2em;
  }

  #banner{
    margin-top: 3em;
  }

  #slider img{
    width: 100%;
  }

  #para p{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .footer{
    background: #284942;
    color: white;
    height: 2em;
    margin-left: 0;
  }

  .footer img{
    margin-top: 0.2em;
    width: 10%;
  }

}


@media (min-width: 700px) {

body{
  margin: 0;
  padding: 0;
  background: white;
}

.container-fluid{
  padding: 0 !important;
  margin: 0 !important;
}

.row, #box{
  padding: 0 !important;
  margin: 0 !important;
}

.button{
  display: none;
}

  #navbar{
    height: 8em;
    text-align: center;
    display: block;
  }

  #tagline{
    display: none;
  }

  .background{
    background: rgba(255, 255, 255, 1);
  }

  #navbar h5{
    padding-top: 1em;
    color: black;
  }

  #navbar img{
    padding-top: 1em;
  }

  #navbar>*{
    margin-top: 1em;
    margin-bottom: 2em;
  }

  #banner>*{
    margin: 0;
    padding: 0;
  }

  .logo{
    margin-top: 7em;
  }

  #slider img{
    width: 48.35em;
    height: 28.55em;
  }

  #types{
    background: white;
  }

  #types h2{
    position: absolute;
    margin-left: 19% !important;
    margin-top: 18% !important;
    z-index: 5;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
    font-size: 5em;
  }

  #box{
    height: 20em;
  }

  #box img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #box:hover .overlay{
    opacity: 1;
  }

  #box h4{
    position: absolute;
    margin-left: 30%;
    margin-top: 30%;
    color: white;
  }

  .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  #info{
    background-color: #174038;
    color: white;
    padding-top: 5em;
    padding-bottom: 5em;
    height: 28.55em;
  }

  #info h2{
    margin-top: 3em;
  }

 #about{
   background-color: white;
   height: 30em;
 }

 #about h2{
   margin-top: 7em !important;
 }

 #about{
   border-right: .05px solid rgba(0, 0, 0, 0.5);
 }

 #para h3{
   margin-top: 6em !important;
 }

 #text{
   margin-top: 3em;
   background: rgba(255, 255, 255, 0);
 }

 #text p{
   font-size: 14px;
 }

#text h3{
  padding-bottom: 2em;
}

#filler img{
  width: 25%;
  margin-left: 36% !important;
}

.footer{
  background: #284942;
  color: white;
  height: 4em;
  width: 100%;
}

.footer p{
  padding-top: 1.8em !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.footer img{
  width: 5%;
  margin-top: 1em !important;
  margin-left: 40% !important;
}

}
